* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #fff8f0;
}

/* header */
header {
    width: 100%;
    height: 5rem;
    background-color: #fff8f0;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo {
    margin-left: 20px;
}

.logo img {
    width: 20%;
}

.notification {
    margin-right: 20px;
    display: flex;
    align-items: center;

}

.notification button {
    border: 0;
    border-radius: 50%;
    padding: 10px;
    font-size: 1rem;
    background-color: #c62828;
    color: #ffffff;
}

.notification button span {
    display: none;
}

.notification .mesg {
    margin: 10px;
    background-color: #c62828;
    padding: 10px;
    color: #fff8f0;
    border-radius: 20px 10px;
    visibility: hidden;
}

.notification button:hover {
    cursor: pointer;
    background-color: #b71c1c;
}

/* main */

main {
    margin-top: 1rem;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    background-color: #fff8f0;
}

.sidebar {
    background-color: #fff8f0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.sidebar a {
    text-decoration: none;
    color: #c62828;
    padding: 8px 0px;
    margin: 30px 20px;
    font-size: 2rem;
}

.sidebar a span {
    display: none;
}

.sidebar a:hover {
    cursor: pointer;
    color: #c24848;
}

.right {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right .orders {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.bg-img {
    background-image: url(/craveo/noorder.png);
    width: 50%;
    height: 300px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
}

/* footer */
.footer {
    background: #8E1B1B;
    color: white;
    padding: 40px 80px;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.footer a {
    color: #FFCDD2;
    display: block;
    text-decoration: none;
    margin: 6px 0;
}

.footer a:hover {
    color: white;
}

.copyright {
    text-align: center;
    margin-top: 30px;
    opacity: 0.8;
}

@media screen and (max-width: 450px) {

    /* header */
    header {
        width: 100%;
        padding: 5px 0px;
        background-color: #c62828;
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    .logo {
        margin-left: 10px;
    }

    .logo img {
        width: 40%;
    }

    .notification {
        margin-right: 20px;
    }

    .notification button {
        border: 0;
        border-radius: 50%;
        padding: 6px;
        /* font-size: 1rem; */
        background-color: #fff8f0;
        color: #c62828;
    }

    main {
        margin-top: 0;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .sidebar {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        position: sticky;
        top: 0;
        z-index: 1000;
        width: 100%;
        background-color: #d67575;
    }

    .sidebar a {
        text-decoration: none;
        color: #fff8f0;
        padding: 8px 0px;
        margin: 8px 10px;
        font-size: 1.2rem;
    }

    .hero-section .hero-div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hero-section {
        scroll-behavior: smooth;
    }

    .bg-img {
        background-image: url(/craveo/noorder.png);
        width: 50%;
        height: 200px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
    }

    .footer-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }

}