@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bitcount+Grid+Single:wght@100..900&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Mina:wght@400;700&family=Momo+Trust+Display&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sofadi+One&family=Stack+Sans+Headline:wght@200..700&family=Stack+Sans+Text:wght@200..700&family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bitcount+Grid+Single:wght@100..900&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Mina:wght@400;700&family=Momo+Trust+Display&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sofadi+One&family=Stack+Sans+Headline:wght@200..700&family=Stack+Sans+Text:wght@200..700&family=Vend+Sans:ital,wght@0,300..700;1,300..700&family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #fff8f0;
    font-family: Sofadi One;
}

/* header */
header {
    width: 100%;
    height: 5rem;
    background-color: #fff8f0;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo {
    margin-left: 20px;
}

.logo img {
    width: 20%;
}

.notification {
    margin-right: 20px;
    display: flex;
    align-items: center;

}

.notification button {
    border: 0;
    border-radius: 50%;
    padding: 10px;
    font-size: 1rem;
    background-color: #c62828;
    color: #ffffff;
}

.notification button span {
    display: none;
}

.notification .mesg {
    margin: 10px;
    background-color: #c62828;
    padding: 10px;
    color: #fff8f0;
    border-radius: 20px 10px;
    visibility: hidden;
}

.notification button:hover {
    cursor: pointer;
    background-color: #b71c1c;
}

/* main */
main {
    margin-top: 1rem;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    background-color: #fff8f0;
}

.sidebar {
    background-color: #fff8f0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.sidebar a {
    text-decoration: none;
    color: #c62828;
    padding: 8px 0px;
    margin: 30px 20px;
    font-size: 2rem;
}

.sidebar a span {
    display: none;
}

.sidebar a:hover {
    cursor: pointer;
    color: #c24848;
}

.hero-section {
    text-align: center;
    margin: 20px 0px;
    font-size: 2rem;
}

.menu-cards {
    margin: 5rem 0rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin: 3rem 10px;
}

.menu-cards h3{
    text-align: center;
    width: 50%;
    font-family: Vend Sans;
    font-weight: 500;
}

.menu-cards .menu-burger {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.menu-cards .menu-burger .burger {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFCDD2;
    border-radius: 5px;
    padding: 5px;
}

.menu-cards button {
    padding: 8px 12px;
    font-size: 1rem;
    border: 0;
    border-radius: 10px;
    background-color: #c62828;
    color: #fff8f0;
}

.menu-cards button:hover {
    background-color: #b71c1c;
    cursor: pointer;
}

.menu-cards .img {
    width: 20%;
    height: 50px;
}

.menu-cards .menu-burger .burger #img1 {
    background-image: url(https://www.shutterstock.com/image-photo/juicy-double-cheeseburger-studio-shot-600nw-2572134091.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.menu-cards .menu-pizza {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.menu-cards .menu-pizza .pizza {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFCDD2;
    border-radius: 5px;
    padding: 5px;
}

.menu-cards .menu-pizza .pizza #img1 {
    background-image: url(https://restaurant.wpdevart.com/wp-content/uploads/2025/04/Pepperoni-Pizza.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.menu-cards .menu-desserts {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.menu-cards .menu-desserts .desserts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFCDD2;
    border-radius: 5px;
    padding: 5px;
}

.menu-cards .menu-desserts .desserts #img1 {
    background-image: url(https://cdn.loveandlemons.com/wp-content/uploads/2021/06/summer-desserts-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.menu-cards .menu-chinese {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.menu-cards .menu-chinese .chinese {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFCDD2;
    border-radius: 5px;
    padding: 5px;
}

.menu-cards .menu-chinese .chinese #img1 {
    background-image: url(https://windhorsetour.com/wp-content/uploads/traditional-chinese-food-baiozi.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.menu-cards .menu-indian {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.menu-cards .menu-indian .indian {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFCDD2;
    border-radius: 5px;
    padding: 5px;
}

.menu-cards .menu-indian .indian #img1 {
    background-image: url(https://shef.com/homemade-food/wp-content/uploads/seattle-samosas-north-indian.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}



/* footer */

.footer {
    background: #8E1B1B;
    color: white;
    padding: 40px 80px;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.footer a {
    color: #FFCDD2;
    display: block;
    text-decoration: none;
    margin: 6px 0;
}

.footer a:hover {
    color: white;
}

.copyright {
    text-align: center;
    margin-top: 30px;
    opacity: 0.8;
}

@media screen and (max-width: 450px) {

    /* header */
    header {
        width: 100%;
        padding: 5px 0px;
        background-color: #c62828;
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    .logo {
        margin-left: 10px;
    }

    .logo img {
        width: 40%;
    }

    .notification {
        margin-right: 20px;
    }

    .notification button {
        border: 0;
        border-radius: 50%;
        padding: 6px;
        /* font-size: 1rem; */
        background-color: #fff8f0;
        color: #c62828;
    }

    main {
        margin-top: 0;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .sidebar {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        position: sticky;
        top: 0;
        z-index: 1000;
        width: 100%;
        background-color: #d67575;
    }

    .sidebar a {
        text-decoration: none;
        color: #fff8f0;
        padding: 8px 0px;
        margin: 8px 10px;
        font-size: 1.2rem;
    }
    .hero-section {
    text-align: center;
    margin: 20px 0px;
    font-size: 1.5rem;
}

    .hero-section .hero-div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hero-section {
        scroll-behavior: smooth;
    }

    .menu-cards {
    margin: 5rem 0rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    margin: 3rem 10px;
}

    .footer-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }

}
